body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #c0c0c0, #000000);
}

#calculator {
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#display {
  padding: 20px;
  background-color: #222;
  color: #fff;
  font-size: 2em;
  text-align: right;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  border: none;
  outline: none;
  padding: 20px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #444;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #555;
}

.function {
  background-color: #ff9500;
  color: #333;
}

.operator {
  background-color: #007aff;
  color: #fff;
}

.equals {
  background-color: #ff2d55;
}

.backspace {
  background-color: #ff3b30;
}

button:active {
  transform: translateY(1px);
}

@media screen and (max-width: 768px) {
  button {
    font-size: 1em;
    padding: 15px;
  }

  #display {
    font-size: 1.5em;
  }
}
